---
import ExperienceItem from "./ExperienceItem.astro";
import { t } from "i18next";
import { getLangFromUrl } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const response = await fetch(
  `${
    import.meta.env.API_URL
  }/items/Jobs?fields=logo,*.*&deep[translations][_filter][languages_code][_eq]=` +
    lang
);
const json = await response.json();
---

<section class="lg:mb-32 text-gray-800 text-center">
  <h2 class="text-3xl font-bold mb-12 lg:mb-16">{t("experience.title")}</h2>

  <div class="grid gap-x-2 lg:gap-x-12 grid-cols-1 md:grid-cols-2 pt-4 md:mt-0">
    {
      json?.data?.reverse().map((el) => {
        return (
          <ExperienceItem
            img={`${import.meta.env.STORAGE_URL}/${el.logo.filename_disk}`}
            title={el.Company}
            time={el.translations[0].date}
            desc={el.translations[0].description}
            link={el.LinkedInLink}
            isIntership={el.Internship}
          />
        );
      })
    }
  </div>
</section>
